<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jenkinsbrogb4j3ctace.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jenkinsbrogb4j3ctace.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jenkinsbrogb4j3ctace</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jenkinsbrogb4j3ctace</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Nop.Data.NopObjectContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jenkinsbrogb4j3ctace.database.windows.net,1433;Initial Catalog=jenkins;User ID=appadmin@jenkinsbrogb4j3ctace;Password=1qaz!QAZ" Name="Data Source=tcp:jenkinsbrogb4j3ctace.database.windows.net,1433;Initial Catalog=jenkins;User Id=appadmin@jenkinsbrogb4j3ctace;Password=1qaz!QAZ" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Nop.Data.NopObjectContext, Nop.Data" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Nop.Data.NopObjectContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jenkinsbrogb4j3ctace.database.windows.net,1433;Initial Catalog=jenkins;User Id=appadmin@jenkinsbrogb4j3ctace;Password=1qaz!QAZ</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Nop.Data.NopObjectContext" />
  </ItemGroup>
</Project>